.card-top-rate{
    p{
        margin: 4px 0 !important;    }
    a{
        color: $background-color;
        padding: 0 8px;
        text-decoration: underline;
        color: $primary-color;
        font-size: 18px;
        font-weight: 500;
    }
}